$clockSize: 90vmin; /* not used; defined in js */

$hourHandLength: 25%;
$hourHandWidth: 3px;
$hourHandBorder: 2px;

$minuteHandLength: 40%;
$minuteHandWidth: 5px;

$secondHandLength: 50%;
$secondHandWidth: 1px;
$secondBolWidth: 9px;

$handAxisOvershoot: 15%;


$hourMarkLength: 2.5%;
$minuteMarkLength: 0.5%;
